{
  "parserOptions": {
    "ecmaVersion": 2020, // Ecma 버전
    "sourceType": "module", // script 가 아니라 Import 를 해서 쓰기 때문에 Module
    "ecmaFeatures": { // 우리가 쓰는 특별한 기능
      "jsx": true
    }
  },
  "env": { // 환경설정
    "browser": true, // 브라우저에서 돌아감
    "node": true, // 노드에서도 돌아감
    "es6": true // 최신문법으로 하기위해 Es6 도 true
  },
  "extends": [ // 현재는 너그러운 수준
    "eslint:recommend",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import",
    "react-hooks"
  ],
  "rules": {

  }
}